<?xml version="1.0"?>
<model>
  <name>custom_model</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>AntonPisarenko</name>
   <email>anton42@yandex.ru</email>
  </author>

  <description>
    This is a custom simple model for aerial dron
  </description>
</model>
